{% extends 'base.html' %}

{% block title %}
    {{ constants.TITLE }}
{% endblock %}

{% block content %}
    <div class="hero bg-1">
        <div class="hero-content">
            <div class="left align-end">
                <h1>APPLICATION DEVELOPER</h1>
                <hr>
                <p><b>Hi!</b> I'm Sebastian Valencia lasprilla, a software enthusiast, a giant's shoulders Stander trying to discover and learn about multiple technology areas.</p>
                <p>From back-end to front-end, from database to cloud, through java, python and javascript I'm exploring and developing all kinds of things in this huge world of IT.</p>
                <a href="#contact" class="btn contact-first">
                    Contact me!
                </a>
            </div>
            
            <div class="right align-end">
                <img src="{{ url_for('static', filename='hero.png') }}" class="responsive">
            </div>
        </div>
    </div>
    {% include 'portfolio/section-first.html'%}
    {% include 'portfolio/section-second.html'%}
    {% include 'portfolio/section-third.html'%}
{% endblock %}