<div class="content-wrapper bg-2">
    <div class="content">
        <div class="left">
            <h1>
                BOB THE BUILDER
            </h1>
            <p>
                I constantly build software like this Flask website, with passion I learn and develop, trying to push myself to new challenges.
            </p>
            <h1>
                CAN WE FIX IT?
            </h1>
            <p>
                Finding myself with problems, I find various solutions through software, software as a resolution tool for all kinds of problems.
            </p>
        </div>

        <div class="right">
            <h1>
                WE CAN TALK WHENEVET YOU WANT!
            </h1>
            <p>Just send my a message <a class="link" href="#contact">Clicking Here</a>.</p>
            <p>Or contact me on Linkedin clicking the logo below.</p>
        </div>
    </div>
</div>