<div class="content-wrapper">
    <div class="content">
        <div class="left">
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eos quasi, provident hic nisi asperiores
                repudiandae, amet tempore cumque quidem debitis, eius libero ratione nulla. Corporis sed officiis
                repellat
                minus.
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem beatae aliquam voluptatum cupiditate, est
                explicabo, voluptatem officia ducimus magni provident nulla iure error, at placeat nisi laborum hic nam
                quidem.
            </p>
        </div>

        <div class="right">
            <h1>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores rerum at assumenda ut cumque nemo
                numquam
                illo! Optio ex, ab aut, in doloremque quo modi officiis placeat maxime voluptatum corrupti.
            </h1>
            <p>Just send my a message <a class="orange" href="#contact">Click Here</a></p>
        </div>
    </div>
</div>