<div class="content-wrapper bg-1">
    <div class="content">
        <div class="second-section">
            <h1>TAKE A LOOK AT WHAT I'VE DONE!</h1>
            <p>*Websites may take a while to load if they have not been visited recently because they use free cloud hosting services.</p>
            <div class="card-wrap">
                <div class="card">
                    <h3>GITHUB SEARCH TOOL</h3>
                    <p>
                        A angular website, this website uses an official Github API to search and display public users.
                    </p>
                    <p><a class="link" href="https://github-search-tool-svl.herokuapp.com" target="_blank">Web app link</a></p>
                    <p><a class="link" href="https://github.com/Sevalas/github-search-tool" target="_blank">Repository link</a></p>
                </div>
                <div class="card">
                    <h3>TKINTER APPS</h3>
                    <p>
                        Tk interface apps developed in Python for Windows, These applications are experiments where I learned to developed a native app's with local db sqlite.
                    </p>
                    <p> Here yout can find apps like a calculator with IOS style, task manager, CRM, image carousel and more.</p>
                    <p><a class="link" href="https://github.com/Sevalas/tkinter-apps" target="_blank">Repository link</a></p>
                </div>
                <div class="card">
                    <h3>MAILS SENDER</h3>
                    <p>A Flask website that sends emails, saves to the mySql ignite database, lists, filters them.</p>
                    <p><a class="link" href="https://sevalas-mailer-app.herokuapp.com" target="_blank">Web app link</a></p>
                    <p><a class="link" href="https://github.com/Sevalas/mailer-app" target="_blank">Repository link</a></p>
                </div>
            </div>
            <div class="card-wrap">
                <div class="card">
                    <h3>JAVA RESTFUL APP WITH DOCKER AND DATABASE FUNCTIONALITY</h3>
                    <p>A clients registry Spring Boot application with authentication security, containerized with docker, free hosted mongoDb and Swagger docs.</p>
                    <p>username: usumaki, password: spiral</p>
                    <p><a class="link" href="https://client-api-challenge.herokuapp.com" target="_blank">Web app link</a></p>
                    <p><a class="link" href="https://github.com/Sevalas/client-api-challenge" target="_blank">Repository link</a></p>
                </div>
                <div class="card">
                    <h3>SIMPLE JAVA RESTFUL CRUD</h3>
                    <p>A simple Spring Boot application with a simulated runtime database and Swagger docs.</p>
                    <p><a class="link" href="https://github.com/Sevalas/spring-challenge" target="_blank">Web app link</a></p>
                    <p><a class="link" href="https://api-spring-challenge.herokuapp.com" target="_blank">Repository link</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
