<div class="content-wrapper">
    <div class="content">
        <div class="section-third">
            <div class="left">
                <h1>Let's work together :D</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quaerat? Accusantium, nam nesciunt
                    corporis voluptas vel maxime temporibus! Quas reprehenderit deserunt exercitationem quidem nisi
                    earum rerum nulla, minima facilis id.</p>
            </div>

            <div id="contact" class="right">
                <form class="contact-form" method="post" action="{{ url_for('portfolio.mail')}}">
                    <input name="name" type="text" placeholder="Name" required>
                    <input name="email" type="email" placeholder="Email" required>
                    <textarea name="message" placeholder="Mensaje" minlength=10 required></textarea>
                    <button class="btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>