<div class="content-wrapper white-bg">
    <div class="content">
        <div class="second-section">
            <h1>Look what i do!</h1>
            <div class="third-card-wrap">
                <div class="card">
                    <h3>Mailer appfsdfsdfa</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eaque nisi accusantium laborum?
                    </p>
                    <p><a class="orange" href="#contact">Click Here</a></p>
                </div>
                <div class="card">
                    <h3>Calculator IOS Style</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eaque nisi accusantium laborum? 
                    </p>
                    <p><a class="orange" href="{{ url_for('static', filename='calculadoraIos.exe')}}">Click Here</a></p>
                </div>
                <div class="card">
                    <h3>Mailer app</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eaque nisi accusantium laborum?
                    </p>
                    <p><a class="orange" href="#contact">Click Here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>